.container {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 768px) {
    flex-direction: column;
    gap: 10px;
  }
}

.social {
  align-items: center;
  gap: 10px;
  display: flex;
}

.icon {
  opacity: 0.6;
  cursor: pointer;
}
