.title {
  text-align: center;
}

.innercontainer {
  display: flex;
  flex-direction: column;
}
.wrapper {
  display: flex;
  gap: 10px;
  margin-top: 30px;
  border: 0.5px solid gray;
  border-radius: 20px;
  padding: 10px;
}

.imginfo {
  flex: 2;
  position: relative;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  object-fit: contain;
  height: 30vh;
  border-radius: 10px;
}

.landinfo {
  flex: 4;

  border-radius: 20px;
  padding: 10px;
}

.landinfotitle {
  text-align: center;
  font-size: 30px;
}

.landinnerinfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.paragraph {
  font-size: 20px;
}

@media screen and (max-width: 900px) {
  .wrapper {
    flex-direction: column;
  }

  .imginfo {
  }

  .image {
    height: 20vh;
  }
}
